.inline li {
  display: inline;
  list-style: none outside;
}
.btn-group-toggle svg, .btn-outline-primary svg {
  fill: var(--blue);
}
.btn-group-toggle .active svg, .btn:hover svg {
  fill: white;
}
.btn-outline-success svg {
  fill: var(--success);
}
.loader {
  margin-top: 40vh;
  display: block;
  width: 10rem;
  height: 10rem;
}
#mainView li, .ul404 li {
  list-style: none outside;
}
.card img  {
  height: max-content;
}
header a:hover {
  text-decoration: none;
}
footer {
  background: white;
}
.ul404 svg {
  width: 24px;
  height: 24px;
}
.img-thumbnail {
  width: 100%;
}
